MONGO_URI=mongodb://localhost:27017/etherstar-jewels
PORT=5001
JWT_SECRET=change-me-to-a-long-random-string-min-32-chars
JWT_EXPIRES_IN=1d
FRONTEND_URL=http://localhost:3000
NODE_ENV=development
ENABLE_DB_VIEWER=false
